apiVersion: apps/v1
kind: Deployment
metadata:
  name: angular-hello
  namespace: app-at2
  labels:
    app: angular-hello
    tier: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: angular-hello
  template:
    metadata:
      labels:
        app: angular-hello
        tier: frontend
    spec:
      containers:
        - name: angular-hello
          image: 967380192805.dkr.ecr.eu-west-3.amazonaws.com/angular-hello:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 4200
              name: http
          resources:
            requests:
              memory: "128Mi"
              cpu: "50m"
            limits:
              memory: "256Mi"
              cpu: "250m"
          livenessProbe:
            httpGet:
              path: /
              port: 4200
            initialDelaySeconds: 15
            periodSeconds: 10
